*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.white{
    color: white;
}

.gray{
    color:gray;
}

.show{
    display: block;
}

.hidden{
    display: none;
}




/* ------------- */

.container{
    height: 100vh;
    flex-wrap: wrap;
}

/* --inizio sidebar-- */
.sidebar{
    background-color: black;
    height: calc(100% - 80px);
    width: 250px;
    flex-direction: column;
    overflow: hidden;
}

.logo{
    width:100%;
    height:15%;
    padding: 20px;
}

.logo>img{
    width: 150px;
}

.icon{
    position: relative;
    width:100%;
    height:20px;
    line-height: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.bverde{
    border-left: 3px solid chartreuse;
}

.icon>img{
   width:20px;
   height:20px;
}

.icon>span{
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
}

.bblack{
    border-left:3px solid black;
}
.sezione{
    height: 11%;
}


.playlist{
    height: 10%;
    padding-left: 13px;
    margin-top:20px;
}

.playlist>.white{
    margin-bottom: 10px;
}

.playlist>.gray{
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    display: inline-block;
    vertical-align: bottom;
}




.plus{
    display:inline-block;
    width: 20px;
    height: 20px;
    background-color: gray;
    text-align: center;
    line-height:20px;
    margin-right: 5px;
}

.plus>span{
    font-size: 20px;
    font-weight: bolder;
}
.scrollbar{
    flex-grow: 1;
    min-height: 150px;
    overflow-y: auto;
    padding-left: 13px;
}


.vlist li{
    padding: 8px 0;
}

.vlist li a{
    color:gray;
    text-decoration: none;
    font-size: 13px;
}

.gestione{
    padding-left: 13px;
}

.download{
    margin-bottom: 15px;
    height: 25px;
    width: 215px;
    color: grey;
    border-bottom: 1px solid gray;
    font-size: 12px;
}
.download>span{
    margin-left: 5px;
}

.profilo{
    background-color: grey;
    border-radius: 50%;
}

.profile{
    padding-left: 0;
}


/* --fine sidebar-- */

.central{
    width:calc(100% - 250px);
    height: calc(100% - 80px);
    
}

/* ----top---- */
.top{
    background-color:rgba(0, 0, 0, 0.7) ;
    width:calc(100% - 250px);
    position: fixed;
    z-index: 1000;
    height: 80px;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.upgrade{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 0 40px;
    height: 35px;
    border-radius:20px;
    border:1px solid white;
   
}


/* ---fine top--- */
/* --- content--- */
.content{
    flex-direction: column;
    color: white;
    overflow-y: scroll;
    width:100%;
    height:100%;
    background-color: #171823;
    padding-top: 100px; 
    padding-left:20px;
}

.navbar{
    justify-content: center;
    flex-wrap: wrap;
}


.navbar ul li{
    display: inline-block;
    margin-bottom: 10px;
}

.navbar ul li a{
    text-decoration: none;
    padding:0 20px;
    color:gray;
    font-size: 14px;
}
.bgreen{
    width: 35px;
    height: 1px;
    border-bottom: 3px solid lime;
    margin-left: 49px;
}

.recenti,.perte,.artisti{
    margin-top: 20px;
    width:100%;
    
    
    
}

.album{
   width:200px;
   height:240px;
   margin-bottom: 50px;
   padding-right: 15px;
 
}

.album>img{
    width: 100%;
}
.titoli{
    margin-top: 10px;
    text-align: center;
}

.titoli>h4{
    margin-bottom: 5px;
}

.titoli>span{
    font-size: 13px;
}

.content>h2{
    margin-top:20px;
}

.commenti{
    font-size: 15px;
    margin-top: 10px;
}


.artisti>.album>img{
    border-radius: 50%;
}

/* ---fine content--- */
/* ---footer--- */
footer{
    display: flex;
    height:80px;
    width: 100%;
    background-color: #191919;
}

.player-left,.player-right{
    height:100%;
    width:250px;
    max-width:calc(100%/3);
    align-items: center;
    justify-content: space-between;
}

.player-central{
    width: calc(100% - 500px);
    flex-grow: 1;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.imgpiccola{
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.imgpiccola>img{
    width: 100%;
}

.song{
    margin-right: 35px;
}

.song>p{
    font-size: 10px;
    font-weight: bold;
}

.fa-folder{
    margin-left: 15px;
}


.player-right{
    font-size: 14px;
    padding-right: 14px;
}
.function{
  margin-top: 10px;
}

.function>i{
    padding:0 10px;
}

.small{
    font-size: 16px;
}

.fa-play-circle{
    font-size: 25px;
}

.time>span{
    font-size: 10px;
    margin: 20px;
}


/* ---fine footer--- */

/* ---dimensioni medie come screen-- */
@media screen and (min-width:575px) and (max-width:1060px) {
   
    .recenti,.perte,.artisti{
        flex-wrap: wrap;
    }
     
    .vuoto{
        display: none;
    } 

    .gestione{
        height: 8%;
    }
    .player-left,.player-right{
        justify-content: space-around;
    }

}

/* ---mobile--- */

@media screen and (max-width: 575px){
    .show{
        display: none;
    }
    .hidden{
        display: block;
    }
    .sidebar{
        width: 45px;
        justify-content: space-between;
    }
    .icon>span{
        display: none;
    }
    .icon>img{
        width:30px;
        height: 30px;
    }
    .playlist{
        display: none;
    }
    .scrollbar{
        display: none;
    }
    .download{
        display: none;
    }
    .bverde{
      border-left: none;
    }
    .bblack{
        border-left: none;
    }
    .icon{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .funzioni{
        height:75%;
    }
    
    .gestione{
        height:6%;
        padding-left: 0;
    }
    .logo{
        width: 50px;
        height: 50px;
        position: relative;
    }
    
    .logo>.hidden{
        filter: invert(1);
        width: 40px;
        height: 40px;
        position: absolute;
        left:0;
    }
   
    .recenti,.perte,.artisti{
        flex-wrap: wrap;
    }
     
    .vuoto{
        display: none;
    } 

    .navbar{
        height: 160px;
    }
    .central{
        width:calc(100% - 45px);
        height: calc(100% - 80px);
        
    }
    .top{
        width:calc(100% - 45px);
    }
    

    .save{
        flex-direction: column;
        font-size: 13px;
    }
    .imgpiccola{
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }
    .fa-folder{
        margin-left: 0;
        margin-top: 5px;
    }
    .player-left,.player-right{
        width:30%;
        max-width:calc(100%/3);
        justify-content: space-around;
    }

    .song{
        margin-right: 0;
        margin-left: 2px;
    }
    .song>h5{
        font-size: 10px;
    }
    .song>p{
        font-size: 6px;
    }
    .player-right{
        padding-right: 1px;
    }

    .player-right>input{
        width: 60px;
    }
    .player-right>i{
        font-size: 13px;
    }

    .function{
       margin-bottom: 5px;
    }
    
    .function>.small{
        font-size: 13px;
    }
    .function>i{
        padding: 0 5px;
    }
    
    .player-central{
        width: calc(100% - 60%);
    }


    .time>input{
        width: 80px;
    }

    .time>span{
        margin:5px
    }

    
    

   
    

}