*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.white{
    color: white;
}

.gray{
    color:gray;
}




/* ------------- */

.container{
    height: 100vh;
    flex-wrap: wrap;
}

/* --inizio sidebar-- */
.sidebar{
    background-color: black;
    height: calc(100% - 80px);
    width: 250px;
    flex-direction: column;
}

.logo{
    width:100%;
    height:60px;
    padding: 20px;
    margin-bottom: 20px;
}

.logo>img{
    width: 120px;
}

.icon{
    position: relative;
    width:100%;
    height:20px;
    line-height: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.bverde{
    border-left: 3px solid chartreuse;
}

.icon>img{
   width:20px;
   height:20px;
}

.icon>span{
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
}

.bblack{
    border-left:3px solid black;
}


.playlist{
    margin: 10px;
    padding-left: 5px;
}
.playlist>.white{
    margin-bottom: 10px;
}

.playlist>.gray{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
}




.plus{
    display:inline-block;
    width: 30px;
    height: 30px;
    background-color: gray;
    text-align: center;
    line-height:30px;
    margin-right: 5px;
}

.plus>span{
    font-size: 30px;
    font-weight: bolder;
}

.vlist{
    margin-top: 5px;
}

.vlist li{
    padding: 8px 0;
}

.vlist li a{
    color:gray;
    text-decoration: none;
    font-size: 13px;
}

.download{
    margin-top: 100px;
    height: 25px;
    width: 215px;
    color: grey;
    border-bottom: 1px solid gray;
    font-size: 12px;
}
.download>span{
    margin-left: 5px;
}

.profilo{
    background-color: grey;
    border-radius: 50%;
}






/* --fine sidebar-- */

.central{
    flex-grow: 1;
    height: calc(100% - 80px);
    
}

.top{
    background-color:rgba(0, 0, 0, 0.7) ;
    width:100%;
    position: fixed;
    z-index: 1000;
    height: 80px;
}

.content{
    position:relative ;
    overflow-y: scroll;
    width:100%;
    height:100%;
    background-color: cornsilk;
}


footer{
    height:80px;
    width: 100%;
    background-color: lightslategray;
}




