*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}




/* ------------- */

.container{
    height: 100vh;
    flex-wrap: wrap;
}

.sidebar{
    background-color: black;
    height: calc(100% - 80px);
    width: 10vw;
}

.central{
    flex-grow: 1;
    height: calc(100% - 80px);
    
}

.nav{
    background-color:rgba(0, 0, 0, 0.5) ;
    width:100%;
    position: fixed;
    z-index: 1000;
    height: 80px;
}

.content{
    position:relative ;
    overflow-y: scroll;
    width:100%;
    height:100%;
    background-color: cornsilk;
}


footer{
    height:80px;
    width: 100%;
    background-color: lightslategray;
}




